#img_right {
    display: flex;
    width: 90%;
    /* border: 1px solid #ff0000; */
    height: 95%;
}

#img_left {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    /*    border: 1px solid #ff0000; */
    height: 95%;
}

.containerdesc1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* border: 1px #000 solid; */
}

.box-containerdesc {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 55%;
    /*  border: 1px #000000 solid; */
}

.box-containerdesc div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    /* border: 1px #000000 solid; */
}

#div-subtitles {
    display: flex;
    flex-direction: row;
}

#div-subtitles div {
    height: 100%;
    width: 50%;
}

#div-subtitles p {
    font-size: clamp(10px, 1vw, 1.5vw);
    color: rgba(0, 0, 0, 0.759);
    font-family: "OpenSans-Regular";
    margin-top: 3%;
    text-align: justify;
    width: 90%;
}

#c-spantitle {
    width: 100%;
    height: 25%;
    line-height: 100%;
    color: rgb(0, 0, 0);
    font-size: clamp(10px, 2.5vw, 3vw);
    font-family: "OpenSans-Bold";
    /* border: 1px #000000 solid; */
}

.pdesc {
    color: rgba(0, 0, 0, 0.808);
    font-size: clamp(10px, 1.2vw, 3vw);
    text-align: justify;
    font-family: "OpenSans-Medium";
    width: 80%;
}

#div-subtitles div div {
    width: 20%;
    height: 20%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    /* border: 1px solid #000000; */
}

.c-spansubtitle {
    color: rgb(0, 0, 0);
    font-size: clamp(10px, 1.3vw, 3vw);
    font-family: "OpenSans-SemiBold";
}

.conteinervid1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.conteinervid1 video {
    object-fit: cover;
    transform: scale(1);
    object-position: center;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

/* CELULAR */

@media screen and (max-width: 768px) {
    #img_right {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        /* border: 1px solid #ff0000; */
        height: 95%;
    }

    .containerdesc1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 100%;
        /*    border: 1px #000 solid; */
    }

    .box-containerdesc {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
        /*      border: 1px #ff0000 solid; */
    }

    .box-containerdesc div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        /*   border: 1px #000000 solid; */
    }

    #c-spantitle {
        font-size: min(7vw, 10vw);
    }

    .pdesc {
        font-size: min(4vw, 7vw);
    }

    .c-spansubtitle {
        font-size: min(4.5vw, 6vw);
    }

    #div-subtitles p {
        font-size: min(3.3vw, 5vw)
    }

    #div-subtitles div div {
        width: 18%;
        height: 18%;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        /* border: 1px solid #000000; */
    }

    .conteinervid1 {
        width: 95%;
    }
}