.container-section3 {
    height: 600vh;
    width: 100%;
    background: #c5c5c53f;
}

.c3-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #000;
    width: 100%;
}
