.Home {
    height: 400vh;
}

.container-section1 {
    height: 100vh;
    width: 100%;
    background: #690177;
}

.container-section2 {
    height:100vh;
    width: 100%;
    background: #f3ab25;
}

.container-section3 {
    height: 100vh;
    width: 100%;
    background: #000000;
}

.container-section4 {
    height: 100vh;
    width: 100%;
    background: #010246;
}