.container-section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.c7-containermain {
    display: flex;
    justify-content: space-between;
    /* border: 1px #000 solid; */
    height: 90%;
    width: 90%;
}

.c7-blockleft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(2, 27, 26);
    border-radius: 20px;
    /* border: 1px #000 solid; */
    height: 100%;
    width: 35%;
}

.c7-blockleft h1 {
    color: #f1f7f6;
    font-family: "OpenSans-Bold";
    font-size: clamp(10px, 1.8vw, 2vw);
    height: 5%;
    /*    border: 1px #fff solid */
}

.img_eu {
    height: 47%;

}

.c7-blockleft p {
    color: #f1f7f6;
    font-family: "OpenSans-Medium";
    font-size: clamp(10px, 0.9vw, 1.5vw);
    width: 90%;
    text-align: center;

}

.img_notion {
    height: 15%;

}

.c7-blockright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px #000 solid; */
    box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    height: 100%;
    width: 62%;
}

.c7-containerright_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    width: 95%;
    /*  border: 1px solid #000 */
}

.c7-titleTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 45%;
    height: 20%;
    background-color: rgb(2, 27, 26);
}

.c7-titleTop h1 {
    color: #f1f7f6;
}

.c7-titleTop img {
    width: 10%;
}


.img_laptop {
    height: 50%;
    width: 98%;
    border-radius: 0 0 10px 10px;
}