.Home {
    overflow: hidden;
    height: 400vh;
}

.container-section1 {
    height: 100vh;
    width: 100%;
    background: #000;
    position: relative;
}

#video1{
    z-index: 11;
    position: absolute;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    top: 60%;
    left: 10%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0px 10px #ffffff42,
    0 0 60px #000;
}

.blur_green{
    position: absolute;
    bottom: -5%;
    left: -5%;
    background: #059900c4;
    filter: blur(100px);
    border-radius: 50%;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 50px 10px #059900c4
}

.blur_blue{
    position: absolute;
    bottom: -5%;
    right: -5%;
    background: #000da3;
    filter: blur(100px);
    border-radius: 50%;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 50px 10px #000da3
}

#header1 {
    height: 13%;
    width: 100%;
    border: 1px #000 solid
}

.container-section2 {
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background: #fff;
}

.container-section3 {
    height: 100vh;
    width: 100%;
    background: #000000;
}

.container-section4 {
    height: 100vh;
    width: 100%;
    background: #010246;
}