.Home {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 1110vh;
}

/* O height do .Home que designa o tamanho do site, a diferença de 80 é do Home_2.css */

.container-section1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #000;
    position: relative;
}

#video1 {
    z-index: 11;
    position: absolute;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    top: 60%;
    left: 10%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0px 10px #ffffff42,
        0 0 60px #000;
}

.blur_green {
    position: absolute;
    bottom: -5%;
    left: -5%;
    background: #059900c4;
    filter: blur(100px);
    border-radius: 50%;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 50px 10px #059900c4
}

.blur_blue {
    position: absolute;
    bottom: -5%;
    right: -5%;
    background: #059900c4;
    filter: blur(100px);
    border-radius: 50%;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 50px 10px #059900c4
}

#header1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13%;
    width: 100%;
    /* border: 1px #ffffff solid */
}

#header1 div {
    width: 5.5%;
    height: 55%;
    /*  border: 1px #ffffff solid; */
}

#header1 img {
    width: 100%;
    height: 100%;
}

#header1 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "OpenSans-SemiBold";
    font-size: clamp(10px, 1vw, 2vw);
    color: #fff;
    width: 55%;
    height: 80%;
    /* border: 1px #ffffff solid; */
    list-style: none
}

#header1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: "OpenSans-ExtraBold";
    font-size: clamp(10px, 1vw, 2vw);
    cursor: pointer;
    color: #fff;
    width: 9%;
    height: 55%;
    border: 2px #ffffff solid;
    transition: 200ms ease-in-out;
}

#header1 a:hover {
    /* color: #06be00; */
    color: #036100;
    background: #fffffff6;
    box-shadow: 0 0 20px 1px#06be008f;
}

.ContainerHome1 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40%;
    width: 100%;
}

.ContainerHome1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 80%;
}

.ContainerHome1 p {
    width: 70%;
    height: 40%;
    font-family: "OpenSans-Regular";
    text-align: justify;
    font-size: clamp(10px, 1.3vw, 3vw);
    color: #ffffffde;
    margin-top: 1%;
}

.descSpanHome {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 40%;
    font-family: "OpenSans-Regular";
    font-size: clamp(10px, 1.3vw, 3vw);
    color: #ffffffde;
    /* border: 2px #ffffff solid; */
}

.titleHome {
    font-family: "OpenSans-SemiBold";
    font-size: clamp(10px, 3vw, 5vw);
    color: #ffffff;
}

.subtitleHome {
    font-family: "OpenSans-SemiBold";
    font-size: clamp(10px, 3.2vw, 5vw);
    color: #06be00ec;
}





