.container-section9Cel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    width: 100%;
    background-color: rgb(2, 27, 26);
    border-radius: 30px 30px 0px 0px;
}

.c9-containermainCel {
    /* border: 1px solid #ff0000; */
    width: 90%;
    height: 85%;
}

.containerfooter {
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 80%;
}

.c-footerleftCel {
    height: 100%;
    width: 35%;
    /* border: 1px solid #fff; */
}

.c-footerleftCel img {
    height: 20%;
}

.c-footerrightCel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    /* border: 1px solid #fff; */
}

.c-footerrightCel h1 {
    font-family: "OpenSans-SemiBold";
    font-size: min(3.7vw, 4.5vw);
    color: #00df81;
}

.c-footerrightCel div {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    /*  border: 1px solid #fff; */
    width: 100%;
    height: 55%;
    cursor: pointer;
    user-select: none;
    font-family: "OpenSans-Regular";
    font-size: min(3.3vw, 4vw);
}

.c-footerrightCel div a{
    text-decoration: none;
    color: #f1f7f6;
}

.c9-containerdireitosCel {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    border-top: 1px solid #f1f7f662;
    font-family: "OpenSans-Regular";
    font-size: min(2.1vw, 3vw);
    color: #f1f7f662;
}

.c9-direitoleft {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.c9-direitorightCel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #fff; */
    width: 47%;
}

.c9-direitorightCel a{
    text-decoration: none;
    color: #f1f7f662;
}