@media screen and (max-width: 768px) {

    /* O height do .Home que designa o tamanho do site */
    .HomeCel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        height: 1365vh;
    }

    .bm-burger-button {
        position: fixed;
        width: 40px;
        height: 45px;
        right: 23px;
        top: 17px;
    }

    .bm-cross {
        height: 24px;
        width: 24px;
    }

    .bm-cross-button {
        margin-right: 3%;
    }

    .bm-menu-wrap {
        position: fixed;
        height: 50%;
        width: 50%;
    }

    .bm-menu {
        position: fixed;
        background: rgba(0, 0, 0, 0.600);
        backdrop-filter: blur(3px);
        padding: 3em 2em;
        width: 100%;
    }

    .HM_logo {
        width: 25%;
    }

    .HM_ul {
        display: flex;
        margin-top: 4%;
        /* border: 1px #fff solid; */
        height: 25%;
        width: 80%;
    }

    .HM_ul ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        font-family: "OpenSans-SemiBold";
        font-size: min(4vw, 6vw);
        width: 100%;
        height: 100%;
        list-style: none
    }

    .HM_ul ul a{
      text-decoration: none;
      color: #ffffff;
    }

    .Btn_HM{
        display: flex !important;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        font-family: "OpenSans-Bold";
        font-size: min(3.8vw, 4vw);
        cursor: pointer;
        color: #fff;
        margin-top: 5%;
        width: 50%;
        height: 5%;
        user-select: none;
        border: 2px #f1f7f6 solid;
        transition: 200ms ease-in-out;
    }

    .Btn_HM:hover {
        /* color: #06be00; */
        color: #03624c;
        background: #f1f7f6;
    }

    a {
        text-decoration: none;
    }

    .container-section1Cel {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        height: 70vh;
        width: 100%;
        background: rgb(2, 27, 26);
    }

    #video1Cel {
        z-index: 11;
        position: absolute;
        border-radius: 20px;
        width: 90%;
        height: 40%;
        top: 80%;
        left: 5%;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 0px 10px #ffffff42,
            0 0 60px #000;
    }

    .blur_green {
        position: absolute;
        bottom: -5%;
        left: -5%;
        background: #03624c;
        filter: blur(100px);
        border-radius: 50%;
        width: 30%;
        height: 50%;
        box-shadow: 0 0 50px 10px #03624c
    }

    .blur_blue {
        position: absolute;
        bottom: -5%;
        right: -5%;
        background: #03624c;
        filter: blur(100px);
        border-radius: 50%;
        width: 30%;
        height: 50%;
        box-shadow: 0 0 50px 10px #03624c
    }

    .headerCel {
        display: flex;
        justify-content: space-between;
        height: 10%;
        width: 100%;
        /* border: 1px #ffffff solid */
    }

    .divHeaderCel {
        width: 16%;
        height: 70%;
        margin-left: 5%;
        margin-top: 6%;
        /*   border: 1px #ffffff solid; */
    }

    .testeburguer2 {
        width: 100%;
        height: 100%;
    }

    .ContainerHome1Cel {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 60%;
        width: 100%;
        margin-top: 8%;
        /* border: 1px solid #ff0000; */
    }

    .ContainerDescCel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 90%;
       /*  border: 1px solid #fff; */
    }

    .descHome {
        width: 90% !important;
        height: 80% !important;
        font-family: "OpenSans-Regular";
        text-align: justify;
        font-size: min(5vw, 6vw) !important;
        color: #f1f7f6;
        margin-top: 1%;
        /*  border: 2px #ffffff solid;  */
    }

    .descSpanHome {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 40%;
        font-family: "OpenSans-Regular";
        font-size: clamp(10px, 1.3vw, 3vw);
        color: #f1f7f6;
        /* border: 2px #ffffff solid; */
    }

    .titleHome {
        font-family: "OpenSans-SemiBold";
        font-size: min(6.5vw, 7vw);
        color: #ffffff;
        text-align: center;
        /* border: 1px solid #fff; */
    }

    .subtitleHome {
        font-family: "OpenSans-SemiBold";
        font-size: min(7.5vw, 8vw);
        color: #00c673;
    }
}