.container-section8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100%;
}

.c8-containermainCel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px #000 solid; */
    height: 90%;
    width: 90%;
}

.c8-containermainCel header {
    display: flex;
    justify-content: center;
    font-family: "OpenSans-Bold";
    font-size: min(4vw, 5vw);
   /*  border: 1px #000 solid; */
}

.faqCel{
    margin-top: 4%;
    width: 90%;
}

.faqCel p{
    font-family: "OpenSans-Regular";
    font-size: min(3.5vw, 4vw);
    color:rgba(0, 0, 0, 0.764);
}

.FAQTitleCel{
    font-family: "OpenSans-Bold";
    font-size: min(3.5vw, 4vw);
    color:rgba(0, 0, 0, 0.555);
    transition: 100ms ease-in-out;
}

.FAQTitle:hover{
    color:rgb(0, 0, 0)
}